// Colors.

$color-gray-faint: #f9f9f9;
$color-gray-lt: #e0e0e0;
$color-gray: #b8b8b8;
$color-gray-mid: #8f8f8f;
$color-gray-dark: #4f4f4f;

$color-blue: #5094cd;
$color-green: #45a041;
$color-orange: #d38223;
$color-red: #c42121;
$color-violet: #7235a1;
